@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background: #00182f;
    color: white;
    font-family: 'Lato', sans-serif;
}

.container {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.odometer {
    font-size: calc(2rem + 5vw);
}

.title {
    letter-spacing: 1.5px;
    line-height: 1.25;
}